'scopeName': 'source.awk'
'fileTypes': [
  'awk',
  'gawk'
]
'name': 'AWK-Script'
'firstLineMatch': '#!.*\\b(awk|gawk)\\b'
'patterns': [
  {
    'include': '#line_comment'
  }
  {
    'include': '#builtin_functions'
  }
  {
    'include': '#function_definition'
  }
  {
    'include': '#variable_language'
  }
  {
    'include': '#constant_language'
  }
  {
    'include': '#keyword'
  }
  {
    'include': '#operator'
  }
  {
    'include': '#string'
  }
  {
    'match': '\\b(&&|\\|\\|)\\b'
    'name': 'keyword.operator.awk'
  }
  {
    'match': '\\b([1-9]+[0-9]*|0)'
    'name': 'constant.numeric.awk'
  }
  {
    'match': "[=|:]"
    'name': 'punctuation.separator'
  }
]
'repository':
  'line_comment':
      'begin': '(^[ \\t]+)?(?=#)'
      'beginCaptures':
        '1':
          'name': 'punctuation.whitespace.comment.leading.awk'
      'end': '(?!\\G)'
      'patterns': [
        {
          'begin': '#'
          'beginCaptures':
            '0':
              'name': 'punctuation.definition.comment.awk'
          'end': '\\n'
          'name': 'comment.line.number-sign.awk'
        }
      ]
  'builtin_functions':
    'patterns': [\
      {
        'match': '\\b(atan2|cos|exp|int|log|rand|sin|sqrt|srand|asort|asorti|gensub|gsub|index|length|match|patsplit|split|sprintf|strtonum|sub|substr|tolower|toupper|close|fflush|system|mktime|strftime|systime|and|compl|lshift|or|rshift|xor|isarray|bindtextdomain|dcgettext|dcngettext|print)\\b'
        'name': 'support.function.builtin.awk'
      }
    ]
  'keyword':
    'match': '\\b(BEGIN|END|if|for|else|next|in|return|while|do|switch|case|default|break|continue|nextfile|exit)\\b'
    'name': 'keyword.control.awk'
  'variable_language':
    'patterns': [
      {
        'match': '\\b(BINMODE|CONVFMT|FIELDWIDTHS|FPAT|FS|IGNORECASE|LINT|OFMT|OFS|ORS|PREC|ROUNDMODE|RS|SUBSEP|TEXTDOMAIN)\\b'
        'name': 'variable.language.awk'
      }
      {
        'captures':
          '1':
            'name': 'punctuation.definition.variable.awk'
        'match': '(\\$)([0-9])'
        'name': 'variable.language.awk'
      }
    ]
  'function_definition':
    'patterns': [
      {
        'begin': '\\b(function)\\b\\s+([a-zA-Z0-9_]+)(\\(.*\\))?'
        'beginCaptures':
          '1':
            'name': 'storage.type.function.awk'
          '2':
            'name': 'entity.name.function.awk'
          '3':
            'name': 'variable.parameter.awk'
        'end': ';|&|$'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.function.awk'
        'name': 'meta.function.awk'
      }
    ]
  'operator':
    'patterns': [
      {
        'match': '<\\=|>\\=|\\=\\=|<|>|\\!\\='
        'name': 'keyword.operator.comparison.awk'
      }
    ]
  'constant_language':
    'patterns': [
      {
        'match': "\\b(ARGV|ARGC|ENVIRON|ERRNO|FILENAME|FNR|FUNCTAB|NF|NR|PROCINFO|RLENGTH|RSTART|RT|SYMTAB)\\b"
        'name': 'constant.language.awk'
      }
    ]
  'string':
    'patterns': [
      {
        'begin': "\""
        'end': "\""
        'name': 'string.quoted.double.awk'
        'patterns': [
          {
            'match': "\\\\."
            'name': 'constant.character.escape.awk'
          }
        ]
      }
      {
        'begin': "\'"
        'end': "\'"
        'name': 'string.quoted.single.awk'
        'patterns': [
          {
            'match': "\\\\."
            'name': 'constant.character.escape.awk'
          }
        ]
      }
    ]
# 'variable':
  #   'patterns': [
      # {
      #   'captures':
      #     '1':
      #       'name': 'punctuation.definition.variable.awk'
      #   'match': '(\\$)&(?![A-Za-z0-9_])'
      #   'name': 'variable.other.regexp.match.awk'
      # }
      # {
      #   'captures':
      #     '1':
      #       'name': 'punctuation.definition.variable.awk'
      #   'match': '(\\$)`(?![A-Za-z0-9_])'
      #   'name': 'variable.other.regexp.pre-match.awk'
      # }
      # {
      #   'captures':
      #     '1':
      #       'name': 'punctuation.definition.variable.awk'
      #   'match': '(\\$)\'(?![A-Za-z0-9_])'
      #   'name': 'variable.other.regexp.post-match.awk'
      # }
      # {
      #   'captures':
      #     '1':
      #       'name': 'punctuation.definition.variable.awk'
      #   'match': '(\\$)\\+(?![A-Za-z0-9_])'
      #   'name': 'variable.other.regexp.last-paren-match.awk'
      # }
      # {
      #   'captures':
      #     '1':
      #       'name': 'punctuation.definition.variable.awk'
      #   'match': '(\\$)([0-9])'
      #   'name': 'variable.language.awk'
      # }
      # {
      #   'captures':
      #     '1':
      #       'name': 'punctuation.definition.variable.awk'
      #   'match': '(\\$)[_ab\\*\\.\\/\\|,\\\\;#%=\\-~^:?!\\$<>\\(\\)\\[\\]@](?![A-Za-z0-9_])'
      #   'name': 'variable.other.predefined.awk'
      # }
      # {
      #   'captures':
      #     '1':
      #       'name': 'punctuation.definition.variable.awk'
      #   'match': '(\\$)[0-9]+(?![A-Za-z0-9_])'
      #   'name': 'variable.other.subpattern.awk'
      # }
    # ]
